.valentine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.yesButton {
  color: white;
  background-color: #51f542;
  border: none;
}

.noButton {
  margin-left: 5px;
  color: white;
  background-color: red;
  border: none;
  font-size: 25px;
}

.buttonBox {
  margin-top: 10px
}

.yesText {
  font-size: 30px;
  font-weight: bold;
}

.questionText {
  font-size: 30px;
  font-weight: 300;
}